<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>displayCompany</title>
    <link rel="stylesheet" href="displayCompany1.css">
</head>

<body>

    <div class="sidenav">
        <img src="VJIT_ph.png" alt="Profile Image">
        <a href="/editprofile<%=stu_id %>">Profile</a>
        <a href="#">All Companies</a>
        <a href="/appliedcompanies<%= stu_id %>">Applied Companies</a>
        <a href="#">Status</a>
        <button class="logout">Log Out</button>
    </div>

    <div class="main-content">
        <div class="box-container">
            <% for (let i = 0; i < companies.length; i++) { %>
                <div class="container">
                    <div class="info">
                        <strong>Company Name:</strong> <%= companies[i].companyName %>
                    </div>
                    <div class="info">
                        <strong>Role:</strong> <%= companies[i].role %>
                    </div>
                    
                    <div class="info">
                        <strong>Salary:</strong> <%= companies[i].salary %>
                    </div>
                    <div class="info">
                        <strong>Location:</strong> <%= companies[i].location %>
                    </div>
                    <div class="info">
                        <strong>Application Deadline:</strong> <%= companies[i].applicationDeadline.toDateString() %>
                    </div>
                    
                    <a href="/displayCompanydetails<%= stu_id %>:<%= companies[i]._id %>"><button class="button-24" role="button">More ></button></a>

                </div>
            <% } %>
        </div>
    </div>

</body>

</html>

